{% extends "Base.html" %}
{% block morescript %}
<link href="css/projectlist.css" type="text/css" rel="stylesheet" id="main-style">
{% endblock %}
{% block title %}视频公园{% endblock %}
{% block content %}
<section id="page-title">
    	<div class="container clearfix">
            <h1 id="title"></h1>
        </div>
</section>
<section id="content" class="container clearfix">
    <section class="blog-entry-list" id="main">
        <article class="entry clearfix">
            <div class="entry-video">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.2857%;">
                    <iframe height=498 width=510 src="" frameborder=0 allowfullscreen id="videoplayer"></iframe>
                </div>
            </div>
            <div class="entry-date">
                <div class="entry-day"></div>
                <div class="entry-month"></div>
            </div>
            <div class="entry-body">
                <h2 class="entry-title"></h2>
                <div class="entry-meta">
                    <span class="author"></span>
                    <span class="category"></span>
                    <span class="comments"><a href="#">4 Comments</a></span>
                </div>
                <div class="entry-content">

                </div>
            </div>
        </article>
        <script>
            $(document).ready(function(){
                $.getJSON("https://openapi.youku.com/v2/videos/show_basic.json?client_id={{youku_id}}&video_id={{video_id}}",function(data){
                    $("#videoplayer").attr("src",data.player)
                    $(".entry-date").attr('time',data.published)
                    $(".entry-title").text(data.title)
                    $(".entry-content").text(data.description)
                    $(".author").html('<a href="{1}">{0}</a>'.format(data.user.name,data.user.link))
                    $(".category").html('<a href="#">{0}</a>'.format(data.category))
                    $("#title").text(data.title)
                    UpdateDateString();
                })
            })
        </script>

    </section>
    <section id="comments">
        <h3>4 Comments</h3>
        <!-- begin comment list -->
        <ol class="comment-list">
            <!-- begin comment -->
            <li class="comment">
                <!-- begin comment 4 -->
                <div class="comment-wrap" id="comment-4">
                    <div class="avatar-wrap">
                        <div class="avatar">
                            <img alt="" src="images/demo/avatar-50x50.png">
                        </div>
                        <a style="display: none;" class="comment-edit-link" href="#" title="Edit comment">Edit</a>
                    </div>
                    <div class="comment-details">
                        <div class="comment-author"><a href="#">Cathy</a></div>
                        <div class="comment-meta">February 18, 2012 at 11:08 am</div>
                        <div class="comment-content">
                            <p>Morbi vel quam ligula. Donec nunc augue, scelerisque vitae pretium a, dapibus vitae nisi. Vivamus et tortor non ante bibendum ornare vitae ut orci. Mauris elementum sodales fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vel sapien sit amet orci rhoncus accumsan. Ut lorem leo, pharetra in dignissim non, auctor nec arcu. Nulla facilisi. Curabitur tempus placerat volutpat. Morbi quis commodo purus.</p>
                            <a class="comment-reply-link" href="#" onclick="">Reply</a>
                        </div>
                    </div>
                </div>
                <!-- end comment 4 -->
            </li>
            <!-- end comment -->
        </ol>
        <!-- end comment list -->
    </section>
</section>
<hr>

{% endblock %}